/*STYLES GENERAUX*/
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
    margin-left : 80px;
    margin-right : 80px;  
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background:  #1C2149;
    box-shadow: 0px 0px 15px #333;
}
header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    font-variant: small-caps;
}

header a{
    text-decoration: none;
    font-size: 22px; 
}

footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center; 
}
footer a{
    color: #fff;
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: left;
    width: 100%;
    padding-bottom: 100px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
    width: 80%;
    box-shadow: 0px 0px 10px #bbb;
}

.scontact{
display: flex; 
flex-flow: row wrap;
justify-content: left;
width: 100%;
padding-bottom: 300px;
margin: 20px auto;
box-shadow: 0px 0px 10px #bbb;
background-color: #fff;
width: 80%;
box-shadow: 0px 0px 10px #bbb;
}

section h2{
    margin: 25px 0;
    margin-left: 20px;
    width: 80%;

}

section h2{
    margin: 25px 0;
    margin-left: 20px;
    width: 80%;
}

.customh2{
    margin: 25px 0;
    margin-left: 20px;
    width: 80%;
}

section h3{
    margin: 25px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section h4{
    margin: 25px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.element{
    display: inline;  
    cursor: pointer; 
    margin-right: 25px;  
    padding: 0 0 0 6px; 
} 

.element a:hover{
    box-shadow: 4px 4px 8px 4px rgba(76, 88, 247, 0.301);
}
.r6img{
    margin-left: auto;
    margin-right: auto;
    position: center;
    width:80%;
    border: 3px solid lightblue;
    border-radius: 5px;
}

.r6imglogo{
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 80%;
    border: 3px solid lightblue;
    border-radius: 5px;
}

.menu{
    font-variant: small-caps;
    text-align: center;
}


.video{
    margin-left: auto;
    margin-right: auto;
    position: center;
    margin-bottom: 30px
}

.type{
    margin-left: auto;
    margin-right: auto;
    position: center;
    width:30%;
}

.contact{
    font-size: 150%;
    text-align: center;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact a:hover{
    box-shadow: 4px 4px 8px 4px rgba(76, 88, 247, 0.301)
}

#carousel {
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}